
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Property Selector</title>
        <style>
             /* input[type=text]{
                background: moccasin;
            }*/ 
            input[type=password]{
                background: plum;
            }
            input[type=email]{
                background:red;
            }
        </style>
    </head>
    <body>
        <form>
            <label>ID</label>
            <input type="text" style="background: slateblue;">
            <br/>
            <label>PW</label>
            <input type="password" name="pw"/>
            <br/>
            <label>email</label>
            <input type="email"/>
        </form>
    </body>
</html>