{% extends 'app/base.html'%}
{% block content %}
    <style>
        div{
            float:left;
        }
        .left{
            width:30%;
        }
        .left ul li{
            margin: 10px;
            padding: 10px;
            border: 1px solid gray;
        }
        .right{
            width:70%;
        }
        #center{
            margin: 0 auto;
            margin: 20px;
            padding: 10px;
            margin-left: 35%;

        }
        #a{
            margin: 10px;
            padding: 10px;
            color: red;
        }
    </style>
    <!-- <div>
        <div id="center">
            <span id="all"style="
            margin: 10px;
            padding: 10px;
            color: red;"><b>전체</b></span>
            <span id="lang" style="
            margin: 10px;
            padding: 10px;
            color: red;"><b>어학</b></span>
            <span id="a job" style="
            margin: 10px;
            padding: 10px;
            color: red;"><b>취업</b></span>
            <span id="a school" style="
            margin: 10px;
            padding: 10px;
            color: red;"><b>학습</b></span>
            <span id="a etc" style="
            margin: 10px;
            padding: 10px;
            color: red;"><b>기타</b></span>
        </div> -->
    <div class="left">
        <ul>
            <li id="all">전체</li>
            <li id="lang">어학</li>
            <li id="job">취업</li>
            <li id="school">학습</li>
            <li id="etc">기타</li>
        </ul>
    </div>
    <div class="right">
        <div class="row all">
            {% for study in studyList %}
                <div class="col-sm-6 col-md-4">
                    <a href= "{% url 'study_list_detail' pk=study.pk %}">
                        <div class="thumbnail">
                            <img src="{{study.img_url}}" alt="{{study.img_url}}">
                            <div class="caption">
                                <h3>{{study.title}}</h3>
                                <!-- <p>소개글 {{study.oneLine}}</p>
                                <p>{{study.contents}}</p>
                                {{study.board_text}}  -->
                                <p>모집 기간 : {{study.duration}}</p>
                                {% if study.category == "어학" %}
                                    <button class="btn btn-danger" style="float:right"> {{study.category}} </button>
                                {% endif %}
                                {% if study.category == "취업" %}
                                    <button class="btn btn-info" style="float:right"> {{study.category}} </button>
                                {% endif %}
                                {% if study.category == "학습" %}
                                    <button class="btn btn-warning" style="float:right"> {{study.category}} </button>
                                {% endif %}
                                {% if study.category == "기타" %}
                                    <button class="btn btn-success" style="float:right"> {{study.category}} </button>
                                {% endif %}
                                <!-- <p>오픈 채팅방 : {{study.kakao_url}}</p>
                                <p>온/오프라인 : {{study.onOff}}</p> -->
                                <p>총 인원 : {{study.totalMember}}명</p>
                                <p>지역 : {{study.region}}</p>
                                <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> --> 
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row lang">
            {% for study in languageList %}
                <div class="col-sm-6 col-md-4">
                    <a href= "{% url 'study_list_detail' pk=study.pk %}">
                        <div class="thumbnail">
                            <img src="{{study.img_url}}" alt="{{study.img_url}}">
                            <div class="caption">
                                <h3>{{study.title}}</h3>
                                <!-- <p>소개글 {{study.oneLine}}</p>
                                <p>{{study.contents}}</p>
                                {{study.board_text}}  -->
                                <p>모집 기간 : {{study.duration}}</p>
                                {% if study.category == "어학" %}
                                    <button class="btn btn-danger" style="float:right"> {{study.category}} </button>
                                {% endif %}
                                {% if study.category == "취업" %}
                                    <button class="btn btn-info" style="float:right"> {{study.category}} </button>
                                {% endif %}
                                {% if study.category == "학습" %}
                                    <button class="btn btn-warning" style="float:right"> {{study.category}} </button>
                                {% endif %}
                                {% if study.category == "기타" %}
                                    <button class="btn btn-success" style="float:right"> {{study.category}} </button>
                                {% endif %}
                                <!-- <p>오픈 채팅방 : {{study.kakao_url}}</p>
                                <p>온/오프라인 : {{study.onOff}}</p> -->
                                <p>총 인원 : {{study.totalMember}}명</p>
                                <p>지역 : {{study.region}}</p>
                                <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> --> 
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row job">
            {% for study in jobList %}
                <div class="col-sm-6 col-md-4">
                    <a href= "{% url 'study_list_detail' pk=study.pk %}">
                        <div class="thumbnail">
                            <img src="{{study.img_url}}" alt="{{study.img_url}}">
                            <div class="caption">
                                <h3>{{study.title}}</h3>
                                <!-- <p>소개글 {{study.oneLine}}</p>
                                <p>{{study.contents}}</p>
                                {{study.board_text}}  -->
                                <p>모집 기간 : {{study.duration}}</p>
                                {% if study.category == "어학" %}
                                    <button class="btn btn-danger" style="float:right"> {{study.category}} </button>
                                {% endif %}
                                {% if study.category == "취업" %}
                                    <button class="btn btn-info" style="float:right"> {{study.category}} </button>
                                {% endif %}
                                {% if study.category == "학습" %}
                                    <button class="btn btn-warning" style="float:right"> {{study.category}} </button>
                                {% endif %}
                                {% if study.category == "기타" %}
                                    <button class="btn btn-success" style="float:right"> {{study.category}} </button>
                                {% endif %}
                                <!-- <p>오픈 채팅방 : {{study.kakao_url}}</p>
                                <p>온/오프라인 : {{study.onOff}}</p> -->
                                <p>총 인원 : {{study.totalMember}}명</p>
                                <p>지역 : {{study.region}}</p>
                                <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> --> 
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row school">
            {% for study in schoolList %}
                <div class="col-sm-6 col-md-4">
                    <a href= "{% url 'study_list_detail' pk=study.pk %}">
                        <div class="thumbnail">
                            <img src="{{study.img_url}}" alt="{{study.img_url}}">
                            <div class="caption">
                                <h3>{{study.title}}</h3>
                                <!-- <p>소개글 {{study.oneLine}}</p>
                                <p>{{study.contents}}</p>
                                {{study.board_text}}  -->
                                <p>모집 기간 : {{study.duration}}</p>
                                {% if study.category == "어학" %}
                                    <button class="btn btn-danger" style="float:right"> {{study.category}} </button>
                                {% endif %}
                                {% if study.category == "취업" %}
                                    <button class="btn btn-info" style="float:right"> {{study.category}} </button>
                                {% endif %}
                                {% if study.category == "학습" %}
                                    <button class="btn btn-warning" style="float:right"> {{study.category}} </button>
                                {% endif %}
                                {% if study.category == "기타" %}
                                    <button class="btn btn-success" style="float:right"> {{study.category}} </button>
                                {% endif %}
                                <!-- <p>오픈 채팅방 : {{study.kakao_url}}</p>
                                <p>온/오프라인 : {{study.onOff}}</p> -->
                                <p>총 인원 : {{study.totalMember}}명</p>
                                <p>지역 : {{study.region}}</p>
                                <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> --> 
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row etc">
            {% for study in etcList %}
                <div class="col-sm-6 col-md-4">
                    <a href= "{% url 'study_list_detail' pk=study.pk %}">
                        <div class="thumbnail">
                            <img src="{{study.img_url}}" alt="{{study.img_url}}">
                            <div class="caption">
                                <h3>{{study.title}}</h3>
                                <!-- <p>소개글 {{study.oneLine}}</p>
                                <p>{{study.contents}}</p>
                                {{study.board_text}}  -->
                                <p>모집 기간 : {{study.duration}}</p>
                                {% if study.category == "어학" %}
                                    <button class="btn btn-danger" style="float:right"> {{study.category}} </button>
                                {% endif %}
                                {% if study.category == "취업" %}
                                    <button class="btn btn-info" style="float:right"> {{study.category}} </button>
                                {% endif %}
                                {% if study.category == "학습" %}
                                    <button class="btn btn-warning" style="float:right"> {{study.category}} </button>
                                {% endif %}
                                {% if study.category == "기타" %}
                                    <button class="btn btn-success" style="float:right"> {{study.category}} </button>
                                {% endif %}
                                <!-- <p>오픈 채팅방 : {{study.kakao_url}}</p>
                                <p>온/오프라인 : {{study.onOff}}</p> -->
                                <p>총 인원 : {{study.totalMember}}명</p>
                                <p>지역 : {{study.region}}</p>
                                <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> --> 
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    <!-- </div> -->
    </div>
    <script>
        $(document).ready(function(){
            $('.row').hide();
            $('.all').show();
        })
        $('#lang').click(function(){
            $('.row').hide();
            $('.lang').show();
        });
        $('#all').click(function(){
            $('.row').hide();
            $('.all').show();
        });
        $('#job').click(function(){
            $('.row').hide();
            $('.job').show();
        });
        $('#school').click(function(){
            $('.row').hide();
            $('.school').show();
        });
        $('#etc').click(function(){
            $('.row').hide();
            $('.etc').show();
        });
    </script>
{% endblock %}